<% layout('layouts/boilerplate') %>

<div class="container justify-content-center align-items-center mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1573475058307-204e27d838b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username: </label>
                            <input class="form-control" type="text" name="username" id="username" autofocus required>
                            <div class="valid-feedback"> Looks good! </div>
                            <div class="invalid-feedback"> Invalid input </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password: </label>
                            <input class="form-control" type="password" name="password" id="password" required>
                            <div class="valid-feedback"> Looks good! </div>
                            <div class="invalid-feedback"> Invalid input </div>
                        </div>
                        <div class="mb-3 d-grid">
                            <button class="btn btn-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<a href="/campgrounds">Back to all campgrounds.</a>